@model IEnumerable<MiscInventory.Models.InventorySearch>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.0.js"></script>

@using (Html.BeginForm("Index", "Inventory", FormMethod.Post, new  { enctype = "multipart/form-data" }))
{
    <div style="text-align: right">
        <input type="submit" name="Search" value="Search" />
    </div>
    <div class="datagrid"></div>
    <br />
    <div id="DivRoot" style="text-align: left">
        <div style="overflow: hidden;" id="DivHeaderRow">
        </div>
        <div style="overflow: scroll;" onscroll="OnScrollDiv(this)" id="DivMainContent">
            <table id="tblSearch" style="font-size: 0.9em;">
                <tr class="header">
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.INV_TYPE)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.ID_R)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.INV_DESC)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.BUD)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.LOC)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.PURCH_YY)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.COST)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.DEPR)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.SUB_TYPE)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.REQ_NO)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.VCHR_NO)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.DOC_DATE)
                    </th>
                    <th style="font-size: 0.8em">
                        @Html.DisplayNameFor(model => model.COMMENT)
                    </th>

                </tr>

                    @foreach (var inventory in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.INV_TYPE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.ID_R)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.INV_DESC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.BUD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.LOC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.PURCH_YY)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.COST)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.DEPR)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.SUB_TYPE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.REQ_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.VCHR_NO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.DOC_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => inventory.COMMENT)
                            </td>
                        
                        </tr>
                    }

                </table>
        </div>
    </div>
    <div id="DivFooterRow" style="overflow: hidden">
    </div>

    <br />
}


   

